@import 'reset';
@import 'variables';
@import 'fonts';
@import '../../node_modules/swiper/dist/css/swiper.min.css';

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $black;
  background: $background-grey;
  display: flex;
}

.container {
  margin: 100px auto 0;
  background: $white;
  padding: 20px 15px;
  width: fit-content;
}

.widget {
  width: $widget-width;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  h2 {
    font-family: roboto-condensed;
    font-size: 22px;
    color: $title-grey;
  }
}

.title__visited {
  grid-column: 1 / 2;
  margin-bottom: 18px
}

.title__interest {
  grid-column: 2 / -1;
  margin-bottom: 18px
}

.item,
.recommendation {
  height: $slide-height;
  border: 1px solid $light-grey;
  padding: 0 20px;
  background: $white;
  text-align: center;
  img {
    margin-top: 15px;
    width: 116px;
  }
  p {
    text-align: left;
    font-family: roboto;
    font-size: 11px;
    margin-top: 15px
  }
}

.item__price-tag,
.rec__price-tag {
  font-family: roboto-bold;
  font-size: 18px;
  color: $price-grey;
}

.item__conditions-tag,
.rec__conditions-tag {
  font-family: roboto-bold;
  font-size: 14px;
  color: $price-grey;
}

.item__description,
.red__description {
  color: $description-grey;
}
.item__price,
.item__conditions,
.rec__price,
.rec__conditions {
  color: $title-grey;
}

.rec__add-btn {
  // displays when slide is hovered
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translatex(-50%);
  height: 40px;
  width: 180px;;
  background: $white;
  border: 1px solid $light-grey;
  font-family: roboto-condensed;
  font-size: 14px;
  color: $price-grey;
  margin: 0 auto;
  &:hover {
    .add-btn__lateral-bar { opacity: 1; }
    .add-btn__img { fill: $button-orange; }
  }
}

.add-btn__img {
  fill: $price-grey;
  transition: fill $slide-hover;
  width: 20px;
  margin: 0;
  margin-left: 7px;
}

.add-btn__lateral-bar {
  opacity: 0;
  transition: opacity $slide-hover;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 7px;
  background: $button-orange;
}

.swiper-container {
  grid-column: 2 / -1;
  max-width: 100%;
  height: $slide-expanded-height;
}

.swiper-slide {
  width: $widget-width / 4;
  transition: height $slide-hover;
  &:hover {
    cursor: pointer;
    background: linear-gradient(to top, $white 0%, $card-gradient 100%);
    height: $slide-expanded-height;
    .rec__add-btn {
      opacity: 1;
      transition: opacity ($slide-hover * 2);
    }
  }
}

.swiper-wrapper {
  height: $slide-height;
}

.swiper-pagination {
  top: $slide-height;
  margin-top: 10px;
  z-index: 0;
}

.swiper-pagination-bullet {
  margin: 0 4px;
  background: $swiper-bullet;
  outline: 0;
  &-active { background: $swiper-bullet-active; }
}

.swiper-button-prev,
.swiper-button-next {
  top: 0;
  height: $slide-height;
  margin-top: 0;
  width: 50px;
  background-size: 12px;
  background-image: none;
}

.swiper-button-prev {
  left: 0;
}
.swiper-button-next {
  right: 0;
}

@import 'queries';
