@import 'reset';
@import 'variables';
@import 'fonts';
@import '../../node_modules/swiper/dist/css/swiper.min.css';

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $black;
  background: $background-grey;
}

.container {
  margin: 100px auto 0;
  background: #fff;
  padding: 20px 15px 100px;
  width: fit-content;
}

.widget {
  width: $widget-width;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  h2 {
    font-family: roboto-condensed;
    font-size: 22px;
    color: $title-grey;
  }
}

.title__visited {
  grid-column: 1 / 2;
  margin-bottom: 18px
}

.title__interest {
  grid-column: 2 / -1;
  margin-bottom: 18px
}

.item,
.recommendation {
  height: 268px;
  border: 1px solid $light-grey;
  padding: 10px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  img {
    width: 116px;
    margin: 0 auto;
  }
  p {
    font-family: roboto;
    font-size: 11px;
  }
}

.item__price-tag,
.rec__price-tag {
  font-family: roboto-bold;
  font-size: 18px;
  color: $price-grey;
}

.item__conditions-tag,
.rec__conditions-tag {
  font-family: roboto-bold;
  font-size: 14px;
  color: $price-grey;
}

.item__description,
.red__description {
  color: $description-grey;
}
.item__price,
.item__conditions,
.rec__price,
.rec__conditions {
  color: $title-grey;
}

.rec__add-btn {
  // displays when slide is hovered
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 15px;
  height: 40px;
  width: 180px;
  border: 1px solid $light-grey;
  font-family: roboto-condensed;
  font-size: 14px;
  color: $price-grey;
  margin: 0 auto;
  img {
    width: 20px;
    margin: 0;
    margin-left: 7px;
  }
  div {
    opacity: 0;
    transition: opacity $slide-hover;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 7px;
    background: $button-orange;
  }
  &:hover {
    div {
      opacity: 1;
    }
  }
}

.swiper-container {
  grid-column: 2 / -1;
  width: 100%;
}

.swiper-slide {
  width: $widget-width / 4;
}

.swiper-pagination {
  position: static;
  grid-column: 2 / -1;
  margin-top: 10px;
}

.swiper-pagination-bullet {
  margin: 0 4px;
  background: $swiper-bullet;
  outline: 0;
  &-active { background: $swiper-bullet-active; }
}
