// colors
$title-grey: #5e6774;
$light-grey: #edeaea;
$black: #000000;
$description-grey: #2c2d2e;
$price-grey: #323d4f;
$background-grey: #e1dddd;
$swiper-bullet: #aeaeae;
$swiper-bullet-active: #333c4e;

// widget
$widget-width: 864px;

// queries breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

:export {
  widgetWidth: $widget-width;
  breakpointSm: $breakpoint-sm;
  breakpointMd: $breakpoint-md;
  breakpointLg: $breakpoint-lg;
  breakpointXl: $breakpoint-xl;
}
