$title-grey: #5e6774;
$light-grey: #edeaea;
$black: #000000;
$description-grey: #2c2d2e;
$price-grey: #323d4f;

$widget-width: 864px;
// breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
